.thanks {
    padding: 50px 35px;
    align-items: center;
}

@media screen and (max-width: 376px) {
    .thanks {
        padding: 35px;
    }
}

.thanks_img {
    width: fit-content;
}

.thanks_rating {
    box-sizing: border-box;
    padding: 4px 16px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 16px;
    font-weight: 400;
    font-size: 15px;
}

@media screen and (max-width: 376px) {
    .thanks_rating {
        font-size: 12px;
    }
}

.thanks_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

.thanks_title {
    font-weight: 700;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 376px) {
    .thanks_title {
        font-size: 24px;
    }
}

.thanks_subtitle {
    font-size: 15px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
}

@media screen and (max-width: 376px) {
    .thanks_subtitle {
        font-size: 12px;
    }
}